src/main/resources/static/app/*.js
src/main/resources/static/app/*.map
target/
/build
/upload-dir
upload-dir/
src/main/resources/static/web/upload/
src/main/resources/static/web/acao/
src/main/resources/static/web/analise/
src/main/resources/static/web/app/acao/
src/main/resources/static/web/como_fazer/



# Eclipse artifacts, including WTP generated manifests
.classpath
.project
spring-*/src/main/java/META-INF/MANIFEST.MF

*.map

*.log

